.body {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #17A2B8;

    ::selection{
        color: #fff;
        background: #17A2B8;
    }
}

.wrapper {
    padding: 35px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.05);

    input {
        opacity: 0;
        z-index: -999;
        position: absolute;
    }

    main {
        padding: 13px 20px 0;
        border-radius: 10px;
        border: 1px solid #bfbfbf;

        nav {
            margin-top: 17px;
            display: flex;
            padding: 12px 0;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid #bfbfbf;

            button{
                outline: none;
                border: none;
                width: 105px;
                color: #fff;
                padding: 8px 0;
                font-size: 16px;
                cursor: pointer;
                border-radius: 5px;
                background: #17A2B8;
                transition: transform 0.3s ease;

                :active{
                    transform: scale(0.97);
                }
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                width: calc(100% - 140px);
                justify-content: space-between;

                li{
                    display: flex;
                    height: 20px;
                    list-style: none;
                    position: relative;
                    align-items: center;

                    :not(:first-child){
                        padding-left: 22px;
                        border-left: 1px solid #bfbfbf;

                        span{
                            font-weight: 500;
                        }
                    }

                    p{
                        font-size: 19px;
                    }

                    span{
                        display: block;
                        font-size: 20px;
                        margin-left: 10px;

                        b{
                            font-weight: 500;
                        }
                    }
                }
            }
        }

        div {
            overflow: hidden;
            max-height: 256px;

            p {
                font-size: 21px;
                text-align: justify;
                letter-spacing: 1px;
                word-break: break-all;

                .correct {
                    color: #56964f;
                }

                .active {
                    color: #17A2B8;

                    ::before{
                        position: absolute;
                        content: "";
                        height: 2px;
                        width: 100%;
                        bottom: 0;
                        left: 0;
                        opacity: 0;
                        border-radius: 5px;
                        background: #17A2B8;
                        animation: blink 1s ease-in-out infinite;
                    }
                }

                .incorrect{
                    color: #cb3439;
                    outline: 1px solid #fff;
                    background: #ffc0cb;
                    border-radius: 4px;
                }

                span {
                    position: relative;

                    
                }

                

                

                
            }

            ::-webkit-scrollbar{
                width: 0;
            }
        }
    }
}

@keyframes blink{
    50%{ 
      opacity: 1; 
    }
}

@media (max-width: 745px) {
    .wrapper{
        padding: 20px;

        main {
            nav {
                padding: 20px 0;

                button {
                    width: 100%;
                    font-size: 15px;
                    padding: 10px 0;
                    margin-top: 20px; 
                }

                ul {
                    width: 100%;

                    li{
                        :not(:first-child){
                            border-left: 0;
                            padding: 0;
                        }

                        span{
                            font-size: 17px;
                        }

                        p{
                            font-size: 17px;
                        }
                    }
                }

            }

            div {
                max-height: 100%;

                p{
                    font-size: 19px;
                    text-align: left;
                }
            }
        }
    }
}

@media (max-width: 518px) {
    .wrapper {
        main {
            padding: 10px 15px 0; 

            div {
                p {
                    font-size: 18px;
                }
            }

            nav {
                ul {
                    li{
                        margin-bottom: 10px;
                    }
                }

                button {
                    margin-top: 10px; 
                }
            }
        }
    }
}

.red {
    color: blue;
}